<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials :: head}">
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>
<nav th:replace="~{partials :: navbar}"></nav>
<div class="page-wrapper">
    <div class="container">
        <div class="row justify-center">
            <div class="column justify-center">
                <h1>Here are the search results</h1>
            </div>
        </div>
        <div class="row justify-center">
            <div class="column justify-center">
                <ul>
                    <li th:each="post : ${posts}" class="column post-box shrink">
                        <div th:text="${post.getId()}" style="display: none"></div>
                        <div class="column shrink">
                            <a th:href="@{|/posts/${post.id}|}">
                                <h2 th:text="${post.title}"></h2>
                            </a>
                        </div>
                        <div class="column shrink"><p th:text="${post.body}"></p></div>
                        <button type="button" class="post-edit-btn" id="post-edit-btn">Edit</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

</body>
</html>